<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off">
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password" id="password" class="form-control" 
                    name="passwordOld"
                    required
                    pattern="([A-Za-z0-9]{3,})*"
                    [(ngModel)]="oldPass"
                        #passwordVar="ngModel"
                          [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }"/>
                      <span class="invalid-feedback">
                          <span *ngIf="passwordVar.errors?.['pattern']">
                              Please use at least three characters.
                          </span>
                          <span *ngIf="passwordVar.errors?.['required']">
                              Please enter your old password.
                          </span>
                          <span *ngIf="oldPass != admin.oldPassword">
                            Password is incorrect!
                          </span>
                      </span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" id="passwordNew" class="form-control" 
                    name="passwordNew"
                    required
                    pattern="([A-Za-z0-9]{3,})*"
                    [(ngModel)]="admin.newPassword"
                        #passwordVar="ngModel"
                          [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }"/>
                      <span class="invalid-feedback">
                          <span *ngIf="passwordVar.errors?.['pattern']">
                              Please use at least three characters.
                          </span>
                          <span *ngIf="passwordVar.errors?.['required']">
                              Please enter your new password.
                          </span>
                      </span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Verify</label>
                    <input type="password" id="passwordNewVerify" class="form-control" 
                    name="passwordVerify"
                    required
                    pattern="([A-Za-z0-9]{3,})*"
                    [(ngModel)]="verifyPass"
                        #passwordVar="ngModel"
                          [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }"/>
                      <span class="invalid-feedback">
                          <span *ngIf="passwordVar.errors?.['pattern']">
                              Please use at least three characters.
                          </span>
                          <span *ngIf="passwordVar.errors?.['required']">
                              Please verify your new password.
                          </span>
                          <span *ngIf="verifyPass != admin.newPassword">
                            Passwords are incompatible!
                          </span>
                      </span>
                </div>
                <div class="form-group">
                    <button type="submit" (click)="changePassword()" class="btn btn-success btn-lg float-right" >Change</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /form card change password -->

</div>