.containerr {
    border-radius: 40px;
    border-width: 5px;
    border-style: solid;
    width: fit-content;
    margin: auto;
    border-color: #D7C0AE;
    background-color: #967E76;
    padding: 20px;
    text-align: center;
  }
.text {
    color: #EEE3CB;
}
mat-form-field {
    width: 100%;
    margin: auto;
}
