<nav class="navbar navbar-expand-lg navbar_looks" style="background-color: #F05454;">
  <a class="navbar-brand navbar_labels" href="#">Blood Bank</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navbar_labels" href="list-banks">List banks</a>
        <!-- <span class="sr-only">(current)</span>  VRV POKAZUJE DA LI SMO NA TOJ STRANI-->
      </li>
      <li class="nav-item active">
        <a class="nav-link navbar_labels" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar_labels" href="fill-form">Fill form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar_labels" href="register-customer"
          >Register customer</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle navbar_labels"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item navbar_labels" href="#">Action</a>
          <a class="dropdown-item navbar_labels" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item navbar_labels" href="#"
            >Something else here</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar_labels" href="view-users">View users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar_labels" href="register-banks"
          >Register banks</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link navbar_labels" href="register-admin"
          >Register admins</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link disabled navbar_labels"
          href="#"
          tabindex="-1"
          aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #F5F5F5">
        Search
      </button>
    </form> -->
  </div>
</nav>
<router-outlet></router-outlet>
